/* reset defaults of browsers */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* take the full height and width */
html,
body {
  height: 100vh;
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.header {
  grid-column: 2/5;
  background-color: #fecaca;
}
.sidebar {
  grid-row: 1/5;
  background-color: #dc2626;
  display: grid;
  grid-template-rows: 150px 1fr 1fr;
}
.logo-container {
  grid-row: 1/2;
  background-color: black;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding: 1.3em;
}

.logo-container p {
  font-size: 3em;
  color: white;
  font-weight: 900;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  overflow: hidden;
}

.icon-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.content {
  grid-column: 2/5;
  grid-row: 2/5;
  background-color: #fef2f2;
}
